In [2]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_excel('a.xlsx', engine='openpyxl')
df

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [10]:
df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name='Sheet1')
df

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [11]:
df = pd.read_excel('a.xlsx', engine='openpyxl', index_col='이름')
df

     국어  영어  수학
이름
aaa  43  65  87
bbb  67  43  65
ccc  12  76  54
ddd  54  89  43
eee  43  95  56

In [14]:
df = pd.read_excel('a.xlsx', engine='openpyxl')
wr = pd.ExcelWriter('b.xlsx', engine='xlswriter')
df.to_excel(wr, index=False)
wr.save

ValueError: No Excel writer 'xlswriter'