### 1. module Configuration

In [2]:
import pandas as pd
from sklearn.svm import SVC

### 2. Data Loader

In [3]:
csv=pd.read_csv('../data/iris.csv')
csv

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

### 3. Data Split

In [4]:

data = csv[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
label=csv['variety']
data

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

### 4. 모델 생성 / 트레이닝

In [5]:
model = SVC()
model.fit(data, label) #학습을 시킴.

SVC()

### 5. Prediction

In [6]:
#미지의 데이터를 넣어서 예측을 해본다.
predict= model.predict([
    [5.2, 3.4, 1.2, 0.8],
    [5.2, 0.7, 10.0, 4.0],
    [1.2, 3.4, 4.2, 5.3]
])
print(predict)

['Setosa' 'Virginica' 'Virginica']